<div class="col-md-6 col-md-offset-3">




    <h2>Track your bug</h2>
    <form name="form" ng-submit="vm.trackBug()" role="form">
        <div class="form-group" >
            <label for="title">Bug Title</label><br>
            <input type="text" class="form-group" ng-model="vm.bug.title" required />
        </div>
        <div class="form-group">
            <label for="user">User</label><br>
            <select name="user" id="user" ng-options="user.username for user in vm.allUsers track by user.id" ng-model="vm.selectedUser" ></select>
        </div>
   
        <div class="form-group">
            <label for="state"> State: </label><br>
            <select ng-model="vm.bug.states">
                <option value="Open">Open</option>
                <option value="Assigned">Assigned</option>
                <option value="Closed">Closed</option>
            </select>
        </div>

        <div class="form-group">
            <label for="severity"> Severity: </label><br>
            <select ng-model="vm.bug.severity">
                <option value="Trivial">Trivial</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
                <option value="Critical">Critical</option>
            </select>
        </div>        
     
        <div class="form-group">
            <label for="description">Description</label><br>
            <textarea class="form-group" ng-model="vm.bug.description" required />
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Track Bug</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
</div>
