<div class="col-md-6 col-md-offset-3">




    <h2>Track your bug</h2>
    <form name="form" ng-submit="vm.trackBug()" role="form">
        <div class="form-group" >
            <label for="title">Bug Title</label><br>
            <input type="text" class="form-group" ng-model="vm.bug.title" required />
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
       <!-- <div class="form-group">
            <label for="user"> User: </label><br>
            <select name="state" id="state" ng-model="vm.bug.state" >
                <option value="0">{{vm.states[0]}}</option>
                <option value="1">{{vm.states[1]}}</option>
                <option value="2">{{vm.states[2]}}</option>
            </select>
        </div> -->
        <div class="form-group">
            <label for="state"> State: </label><br>
            <select id="state" name="state" ng-model="vm.bug.states">
                <option ng:repeat="state in vm.bug.states" value ="{{vm.bug.states}}">
                    {{vm.bug.states}}
                </option>
            </select>
        </div>


     
        <div class="form-group">
            <label for="description">Description</label><br>
            <textarea class="form-group" ng-model="vm.bug.description" required />
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Track Bug</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
</div>
